#Игнорирование всех файлов
/*
#Кроме файла main.py
!main.py
#Кроме подпапки 
!/src
#Кроме файлов requirements.txt, .flake8, .gitignore
!requirements.txt
!.flake8
!.gitignore
#Кроме файла README.md
!README.md